# POPPLER_PATH = 

# uncomment and fill when switching

# EXT_PROVIDER=ollama
# GEN_PROVIDER=ollama
# EMB_PROVIDER=ollama

# GEMINI_API_KEY=""
# EXT_PROVIDER=gemini
# GEN_PROVIDER=gemini

# OPENAI_API_KEY=""
# EXT_PROVIDER=openai
# GEN_PROVIDER=openai
# EMB_PROVIDER=openai

# GROQ_API_KEY=""
# EXT_PROVIDER=groq
# GEN_PROVIDER=groq

# HF_API_KEY = ""
# EXT_PROVIDER=huggingface
# GEN_PROVIDER=huggingface
# EMB_PROVIDER=huggingface

# ZAI_API_KEY=""
# EXT_PROVIDER=zai
# GEN_PROVIDER=zai